.center {
    text-align: center;
    color: white;
    padding: 130px;
}

.link-button {
    text-decoration: none;
    background-color: rgba(143, 220, 84, 0.851);
    padding: 10px 20px;
    border-radius: 15px;
}

.in-need {
    background-image: url(images/donation3.jpg);
    background-size: cover;
    height: 500px;
}

.add-centre {
    font-size: 50px;
}

.air-need {
    font-size: 20px;
}

body {
    margin: 0px;
}

.help {
    text-align: center;
    padding-top: 0px;
    font-size: 50px;
}

.bank {
    text-align: center;
    font-size: 20px;
}

.donate {
    display: flex;
    margin-left: 25%;
    margin-right: 50%;
}

.donate-1 {
    padding: 30px;
    background-color: rgb(233, 235, 239);
    margin: 15px;
    width: 70px;
    height: 50px;
    border-radius: 15px;
}

#donate-2 {
    padding: 30px;
    background-color: rgba(217, 33, 119, 0.407);
    margin: 15px;
    text-align: center;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid rgb(255, 0, 225);
}

.bar-1 {
    text-align: center;
}

.bar-text {
    color: rgba(128, 128, 128, 0.37);
    border-bottom: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
}